<svg xmlns="http://www.w3.org/2000/svg"
     [attr.viewBox]="(viewBox$ | push)">



  <rect timeline
        #timeline="timeline"
        x="0"
        y="10"
        width="800"
        height="20"
        fill="none" />

  <g #slider
     slider
     [width]="(resize$ | push)?.width"
     style="cursor: e-resize;">
    <rect x="-8"
          y="10"
          width="16"
          height="20" />
    <rect x="0"
          y="10"
          width="1"
          height="20"
          fill="#ffffff" />
  </g>

  <g *ngFor="let item of (timelineComments.store$ | push | keyvalue); trackBy: trackByFn; let i = index"
     [comment]="item.key"
     [rect]="timeline.rect"
     style="cursor: e-resize;">
    <ellipse cx="0.5"
             cy="7"
             rx="3"
             ry="3"
             fill="#00ff00" />
    <rect x="0"
          y="10"
          width="1"
          height="20"
          fill="#ffffff" />
  </g>

  <path [attr.d]="(svgPath$ | push)" />
  <text *ngFor="let svgText of (svgTexts$ | push); let index = index"
        [attr.key]="index"
        [attr.transform]="svgText.transform">{{ svgText.text }}</text>
</svg>
