p {
  font-family: Lato;
}

:host {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.file-drop {
  background-color: red;
  height: 100px;
  width: 100px;

  transition: background-color 1s ease-in-out;

  &.dragover {
    background-color: blue;
  }
}

svg {
  height: 30px;
}