<div class="player">
  

  <player scroll></player>


  <div>
    <files-input></files-input>

    <button (click)="controls.pen()" [disabled]="(brush.isPen$ | push)">
      <icon-pen></icon-pen>
    </button>

    <button (click)="controls.eraser()" [disabled]="(brush.isEraser$ | push)">
      <icon-eraser></icon-eraser>
    </button>
    <color-selector></color-selector>

    <brush-size-selector></brush-size-selector>
  </div>

  <div class="action">
    <button (click)="controls.previousComment()">
      <icon-skip-previous></icon-skip-previous>
    </button>
    <button (click)="controls.previousFrame()"
            (pointerdown)="controls.rewind($event)"
            (pointerup)="controls.rewind($event)"
            (pointerleave)="controls.rewind($event)">
      <icon-fast-rewind></icon-fast-rewind>
    </button>
    <button (click)="controls.play()">
      <icon-play></icon-play>
    </button>
    <button (click)="controls.pause()" [disabled]="!(video.isPlaying$ | push)">
      <icon-pause></icon-pause>
    </button>
    <button (click)="controls.nextFrame()"
            (pointerdown)="controls.forward($event)"
            (pointerup)="controls.forward($event)"
            (pointerleave)="controls.forward($event)">
      <icon-fast-forward></icon-fast-forward>
    </button>
    <button (click)="controls.nextComment()">
      <icon-skip-next></icon-skip-next>
    </button>
  </div>

  <!-- <div>
    <button (click)="comments.clear$.next()">clear</button>
  </div> -->

  <frame-rate-selector></frame-rate-selector>

  <span>Time:

    <ng-container>{{ video.currentTime$ | push | timecode : (video.fps$ | push) }}</ng-container></span>
  <span>Frame:

    <ng-container>{{ video.currentFrame$ | push }}</ng-container> /

    <ng-container>{{ video.totalFrames$ | push }}</ng-container></span>

  <div>
    <timeline></timeline>
  </div>

  <div>
    <button (click)="annotations.save$.next()"
            [file]="(annotations.file$ | push)">
      <icon-save></icon-save>
    </button>

    <button (click)="controls.undo()">
      <icon-undo></icon-undo>
    </button>
    <button (click)="controls.redo()">
      <icon-redo></icon-redo>
    </button>

  </div>
</div>

<div class="comments">
  <div class="comments_wrapper">

    <div class="add_comment">
      <button (click)="store.addComment()">
        <icon-add></icon-add>
      </button>
    </div>

    <button *ngFor="let comment of (store.comments$ | push); let i = index"
            class="comment"
            (click)="store.selectLayer(i)"
            [ngClass]="{'active': (store.currentLayerId$ | push) === i }">
      <!-- <div class="comment_header">
        <span>{{ comment.name }}</span>
        <span>{{ comment.date | date }}</span>
        <div class="avatar">N</div>
      </div> -->
      <textarea class="comment_content"
                [value]="comment.text"
                textareaAutosize></textarea>
    </button>

  </div>
</div>

<!-- <div>
  <p *ngFor="let layer of layers.layers">{{layer}}</p>
</div> -->
