/* Add application styles & imports to this file! */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: unset;

  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}